<div data-role="view" data-title="Meeting" data-model="app.MeetingView" data-show="app.MeetingView.onShow" data-after-show="app.MeetingView.afterShow">
        <header data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
                <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
                 <a data-role="button" href="#components/clientList/view.html" data-align="right" data-icon="add"></a>
            </div>
        </header>
    <!-- START_CUSTOM_CODE_MeetingView -->
    <!-- END_CUSTOM_CODE_MeetingView -->

    <ul data-role="listview" data-style="inset" data-template="MeetingViewModelTemplate" 
        data-bind="{ source: MeetingViewModel.dataSource, events: {click: MeetingViewModel.itemClick} }" data-pull-to-refresh="true" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_MeetingViewModel -->
    <!-- END_CUSTOM_CODE_MeetingViewModel -->
    <script type="text/x-kendo-template" id="MeetingViewModelTemplate">
        <div class="image-with-text">
            <h3>#: data['DebtorCode'] #</h3>
            <p>#: data['AltAddress'] #</p>
            <p>#: data['MeetingDate'] #</p>
        </div>
    </script>
</div>
