<div data-role="view" data-title="Meeting Details" data-model="app.homeView.homeViewModel" data-bind="events: { show: detailsShow}">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left" data-icon = "reply">Back</a>
            <span data-bind="text: currentItem.DebtorCode" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>
        </div>
    </header>
    <p>
        <label> Meeting Date:
            <span data-bind="text: currentItem.MeetingDate" type="date"></span>
        </label>
    </p>
    <p>
        <label> Expected Start:
            <span data-bind="text: currentItem.ExpectedStartTime" type="time"></span>
        </label>
    </p>
    <p>
        <label> Expected End:
            <span data-bind="text: currentItem.ExpectedEndTime" type="time"></span>
        </label>
    </p>
    <p>
        <label> Address:
            <span data-bind="text: currentItem.AltAddress" type="text"></span>
        </label>
    </p>
    <p>
        <label> Location:
            <span data-bind="text: currentItem.AltLocation"></span>
        </label>
    </p>
            <p>
        <label> Contact Person:
            <span data-bind="text: currentItem.ContactPerson"></span>
        </label>
    </p>
        <p>
        <label> Phone:
            <span data-bind="text: currentItem.Phone"></span>
        </label>
    </p>
        <p>
        <label> E-Mail:
            <span data-bind="text: currentItem.EMail"></span>
             <a data-role="button" data-align="left" data-bind="click: composeEmail" data-icon = "compose"> @ </a>
        </label>
    </p>
    <!-- START_CUSTOM_CODE_homeViewModel -->
    <!-- END_CUSTOM_CODE_homeViewModel -->
    <footer>
        <a data-role="button" data-align="left" data-bind="click: delete">Delete</a>
        <a data-role="button" data-align="rigt" data-rel="modalview" href="#mdEdit">Edit</a>
    </footer>
</div>
<div data-role="modalview" id="mdEdit" style="width: 90%"  data-title="Meeting Details Edit" data-model="app.homeView.homeViewModel">
          <header>
             
    <button data-bind="click: close" class="close-button" data-role="button">Close</button>
    <span data-bind="text: currentItem.DebtorCode" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>
   </header>
              <p>
        <label> Meeting Date:
            <input data-bind="value: currentItem.MeetingDate" type="date">
        </label>
    </p>
    <p>
        <label> Expected Start:
            <input data-bind="value: currentItem.ExpectedStartTime" type="time">
        </label>
    </p>
    <p>
        <label> Expected End:
            <input data-bind="value: currentItem.ExpectedEndTime" type="time">
        </label>
    </p>
    <p>
        <label> Address:
            <input data-bind="value: currentItem.AltAddress" type="text">
        </label>
    </p>
    <p>
        <label> Location:
            <input data-bind="value: currentItem.AltLocation" type="text">
        </label>
    </p>
                <p>
        <label> Contact Person:
            <input data-bind="value: currentItem.ContactPerson"></span>
        </label>
    </p>
        <p>
        <label> Phone:
            <input data-bind="value: currentItem.Phone"></span>
        </label>
    </p>
        <p>
        <label> E-Mail:
            <input data-bind="value: currentItem.EMail"></span>
        </label>
    </p>
    <!-- START_CUSTOM_CODE_homeViewModel -->
    <!-- END_CUSTOM_CODE_homeViewModel -->
</div>