<div data-role="view" data-title="Home" data-model="app.homeView" data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow">
        <header data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
                <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
                 <a data-role="button" href="#components/clientList/view.html" data-align="right" data-icon="add"></a>
            </div>
                    <label> Filter:
            <input id="datatest" type="date" data-bind = "value: date"></input>
        </label>
        </header>
    <!-- START_CUSTOM_CODE_homeView -->
    <!-- END_CUSTOM_CODE_homeView -->

    <ul data-role="listview" data-style="inset" data-template="homeViewModelTemplate" 
        data-bind="{ source: homeViewModel.dataSource, events: {click: homeViewModel.itemClick} }" data-pull-to-refresh="true" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_homeViewModel -->
    <!-- END_CUSTOM_CODE_homeViewModel -->
    <script type="text/x-kendo-template" id="homeViewModelTemplate">
        <div class="image-with-text">
            <h3>#: data['DebtorCode'] #</h3>
            <p>#: data['AltAddress'] #</p>
            <p>#: data['MeetingDate'] #</p>
        </div>
    </script>
</div>