<div data-role="view" data-title="Meeting Details" data-layout="main" data-model="app.meeting" data-show="app.meeting.onShow" data-after-show="app.meeting.afterShow">
    <div id="meetingModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>
                    <label>Date
                        <input data-bind="value: meetingModel.fields.date" type="date">
                    </label>
                </li>
                <li>
                    <label>Time
                        <input data-bind="value: meetingModel.fields.time" type="time">
                    </label>
                </li>
                <li>
                    <label>Duration
                        <input data-bind="value: meetingModel.fields.time1" type="time">
                    </label>
                </li>
                <li>
                    <label>Customer
                        <input data-bind="value: meetingModel.fields.customer" placeholder="customer" type="text">
                    </label>
                </li>
                <li>
                    <label>Confirmed
                        <input data-bind="value: meetingModel.fields.confirmed" type="checkbox">
                    </label>
                </li>
                <li>
                    <label>Location
                        <input data-bind="value: meetingModel.fields.location" placeholder="location" type="text">
                    </label>
                </li>
                <li>
                    <label>Address
                        <input data-bind="value: meetingModel.fields.address" placeholder="address" type="text">
                    </label>
                </li>
            </ul>

            <div class="button-group">
                <a data-role="button" data-bind="events: { click: meetingModel.cancel }">Cancel</a>
                <a class="primary" data-role="button" data-bind="events: { click: meetingModel.submit }">Confirm</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_meetingModel -->
        <!-- END_CUSTOM_CODE_meetingModel -->
    </div>
    <!-- START_CUSTOM_CODE_meeting -->
    <!-- END_CUSTOM_CODE_meeting -->
</div>